@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.navbar a {
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: yellowgreen;

}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: yellowgreen;
}

.nav-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-content: center;
  align-items: center;
  color: #fff;
}

.nav-buttons strong {
  color: #fff;
}


.nav-menu {
  display: flex;
  flex-flow: row wrap;
  gap: 20px
}

.nav-menu li {
  display: inline-block;
}


.padded {
  padding: 50px;
}


form {
  max-width: 500px;
}


.post {
  padding: 30px;
  margin: 0 0 25px 0;
  border: 1px solid rgba(0,0,0,0.1);
  max-width: 500px;
}


.member {
  display: inline-block;
  font-weight: 100;
  color: goldenrod;
  font-size: 0.8rem;
}

#admin {
  color: red;
}

#admin::after {
  content: '★'
}

.admin {
  background-color: bisque;
  border: 1px solid black;
}